//$icon-font-path: "fonts/bootstrap/";
@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';
@import './spinner/spinner';

.app {
  background-color: #333;
  color: #fff;
  width: 100%;
  height: 100vh;
  padding: 8px;
  h1 {
    text-align: center;
  }
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    input {
      margin-left: 10px;
      width: 100px;
    }
    label {
      margin-left: 5px;
    }
    button {
    }
  }
}